*{
    padding: 0px;
}
body {
    background-color: beige;
}
h1 {
    text-align: center;
}

.chef {
    width: 400px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.container {
    margin: 0 auto;
    display: block;
    width: fit-content;
    box-sizing: border-box;
}

div.recipes,
li {
    box-sizing: border-box;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
}